
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
        
</head>

<body>

    <div class="container">
        <form method="post" action="/comprar">
            <h3>Escolha de Produto</h3>
            <div class="form-row">

                <div class="form-group col-md-4">
                    <label for="itemName">Produto</label>
                    <select  id="itemName" class="form-control" name="itemName">
                        <option value="" hidden disabled selected>Escolha um Produto</option>
                        <option value="1234">Zanpakutou</option>
                        <option value="2345">Chapeu de Palha</option>
                    </select>
                </div>


                <div class="form-group col-md-4">
                    <label for="ItemQuantity">Quantidade</label>
                    <input type="number" class="form-control" id="itemQuantity" name="itemQuantity">
                </div>

                <div class="form-group col-md-4">
                    <label for="ItemCalc">Total</label>
                    <input type="text" class="form-control" disabled id="itemCalc" name="itemCalc">
                </div>
            </div>
            <!-- end row -->
            <h3>Informações Comprador</h3>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="customerName">Nome</label>
                    <input type="text" class="form-control" id="customerName" name="custName"> 
                </div>

                <div class="form-group col-md-6">
                    <label for="customerEmail">Email</label>
                    <input type="email" class="form-control" id="customerEmail" name="custEmail">
                </div>

            </div>
            <!-- end row -->

            <div class="form-row">

                <div class="form-group col-md-4">
                    <label for="customerDocumentNum">Numero do  CPF</label>
                    <input type="text" class="form-control" id="customerDocumentNum" name="custCpf">
                </div>

                <div class="form-group col-md-4">
                    <label for="customerPhone">Telefone</label>
                    <input type="text" class="form-control" id="customerPhone" name="custPhone" >
                </div>

                <div class="form-group col-md-4">
                    <label for="customerBirthday">Ano de Nascimento</label>
                    <input type="date" class="form-control" id="customerBirthday" name="custBirthday">
                </div>

            </div>
            <!-- end row -->
            <h3>Dados para Envio</h3>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="shippingName">Nome do recebedor</label>
                    <input type="text" class="form-control" id="shippingName" name="shipName">
                </div>

                <div class="form-group col-md-6">
                    <label for="shippingEmail">Email Recebedor</label>
                    <input type="email" class="form-control" id="shippingEmail" name="shiEmail">
                </div>

            </div>
            <!-- end row -->
            <div class="form-row">

                <div class="form-group col-md-4">
                    <label for="shippingContry">Estado</label>
                    <select id="shippingContry" class="form-control" name="shipState">
                        <option value="sp">São Paulo</option>
                        <option value="mg">Minas Gerais</option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="shippingCity">Cidade</label>
                    <select id="shippingCity" class="form-control" name="shipCity">
                        <option value="cidadeA">Cidade A</option>
                        <option value="CidadeB">Cidade B</option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="shippingZipcode">Cep</label>
                    <input type="text" class="form-control" id="shippingZipcode" name="shipZipcode"> 
                </div>

            </div>
            <!-- end row -->
            <div class="form-row">

                <div class="form-group col-md-4">
                    <label for="shippingNeighborhood">Bairro</label>
                    <input type="text" class="form-control" id="shippingNeighborhood" name="shipNeighborhood">
                </div>

                <div class="form-group col-md-4">
                    <label for="shippingStreet">Rua</label>
                    <input type="text" class="form-control" id="shippingStreet" name="shipStreet">
                </div>

                <div class="form-group col-md-4">
                    <label for="shippingStreetNumber">Numero</label>
                    <input type="text" class="form-control" id="shippingStreetNumber" name="shipStreetNum">
                </div>

            </div>
            <!-- end row -->

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    
    <script src="../Script/mainScript.js"></script>
</body>

</html>